<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_user.nil? %>
    <h1>Hi, <%=current_user.username %>!</h1>
  <% end %>

    <% user_action = current_user ? session_url : new_session_url %>
    <% user_method = current_user ?  :delete : :get %>
    <% user_button = current_user ?  :Logout : :Login %>



    <form action=" <%= user_action %>" method="POST">
      <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

      <input type="hidden" name="_method" value="<%= user_method %>">

      <input type="submit" value="<%= user_button %>" />

    </form>



<%= yield %>

</body>
</html>
